.cfEmptyBox {
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 100px;
  color: #999;
}
.cfEmptyBox .cfEmptyImg {
  text-align: center;
}
.cfEmptyBox .cfEmptyTxt {
  font-size: 16px;
  text-align: center;
}
