.cfTagBox {
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  margin-bottom: 8px;
  margin-right: 8px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  padding: 0 7px;
  line-height: 20px;
}
.cfTagBox.cfTagHasColor {
  border-color: transparent;
  color: #fff;
}
.cfTagBox.cfTagHasColor .cfTagBtn {
  color: rgba(255, 255, 255, 0.6);
}
.cfTagBox .cfTagText {
  display: inline-block;
  margin-right: 5px;
}
.cfTagBox .cfTagBtn {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.45);
}
